################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/DAL/obj
/API/Domain/obj
/API/WebAPI/WebAPI/bin
/API/WebAPI/WebAPI/obj
/API/DAL/bin
/API/Domain/bin
/API/WebAPI/WebAPI/bin
/.vs
/API/WebAPI/.vs
