################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API/DAL/obj
/API/Domain/obj
/API/WebAPI/WebAPI/bin/Debug/net5.0/Logs
/API/WebAPI/WebAPI/obj
/API/DAL/bin/Debug/net5.0
/API/Domain/bin/Debug/net5.0
/API/WebAPI/WebAPI/bin/Debug/net5.0
/API/WebAPI/.vs/WebAPI/DesignTimeBuild
/.vs/IndustryTracking/v16
